.git/
.gradle/
.settings/
/bin/
/build/
/eclipse/
/gradle/
/run/
/gradlew
.classpath
.project
/CREDITS-fml.txt
/gradlew.bat
/LICENSE-new.txt
/MinecraftForge-Credits.txt
/Paulscode IBXM Library License.txt
/Paulscode SoundSystem CodecIBXM License.txt
*.launch
*.log



